.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .left-side {
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 70%; /* Adjust the width as needed */
    font-size: 20px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 10px 25px #4A90E2;
    margin-right: 20px;
    display: flex; /* Enable flexbox for positioning buttons */
    flex-direction: column; /* Stack content vertically */
    justify-content: flex; /* Push buttons to the bottom */
    padding-top: 40px;
  }

  .left-side h1 {
    margin-top: 10px; /* Add space below the title */
    margin-bottom: 20px;
  }

  .left-side-buttons {
    display: flex; /* Arrange buttons horizontally */
    justify-content: center; /* Center the buttons */
    gap: 20px; /* Add some space between buttons */
    margin-bottom: 100px;  /*Add space below the buttons if needed */
  }

  .left-side-buttons button {
  background-color: #5B86E5;
  color: #ffffff;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: -40px;
  }

  
  .right-side {
    background-color: #AEC7FF;
    flex-grow: 1; /* Allow the right side to take up the remaining space */
  }
  
  .layout-content {
    /* You can add more specific styling for your main content within the right side if needed */
    padding: 20px; /* Example padding */
  }